# Pandas Lightning Talk Demo
We will go over how to use pandas to import and process data from a csv
The first step is to import Pandas

In [3]:
import pandas as pd

## Bring in data
We can bring in data using the read_csv method. 
Data coming from:

In [4]:
deaths = pd.read_csv('time_series_19-covid-Deaths.csv')
confirmed = pd.read_csv('time_series_19-covid-Confirmed.csv')
recovered = pd.read_csv('time_series_19-covid-Recovered.csv')

In [8]:
print(confirmed)

     Province/State  Country/Region      Lat      Long  1/22/20  1/23/20  \
0               NaN        Thailand  15.0000  101.0000        2        3
1               NaN           Japan  36.0000  138.0000        2        1
2               NaN       Singapore   1.2833  103.8333        0        1
3               NaN           Nepal  28.1667   84.2500        0        0
4               NaN        Malaysia   2.5000  112.5000        0        0
..              ...             ...      ...       ...      ...      ...
458             NaN         Somalia   5.1521   46.1996        0        0
459             NaN        Tanzania  -6.3690   34.8888        0        0
460             NaN     The Bahamas  24.2500  -76.0000        0        0
461  Virgin Islands              US  18.3358  -64.8963        0        0
462  Cayman Islands  United Kingdom  19.3133  -81.2546        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  ...  3/7/20  3/8/20  3/9/20  3/10/20  \
0          5        7        8        8  ...      50      50      50       53
1          2        2        4        4  ...     461     502     511      581
2          3        3        4        5  ...     138     150     150      160
3          0        1        1        1  ...       1       1       1        1
4          0        3        4        4  ...      93      99     117      129
..       ...      ...      ...      ...  ...     ...     ...     ...      ...
458        0        0        0        0  ...       0       0       0        0
459        0        0        0        0  ...       0       0       0        0
460        0        0        0        0  ...       0       0       0        0
461        0        0        0        0  ...       0       0       0        0
462        0        0        0        0  ...       0       0       0        0

     3/11/20  3/12/20  3/13/20  3/14/20  3/15/20  3/16/20
0         59       70       75       82      114      147
1        639      639      701      773      839      825
2        178      178      200      212      226      243
3          1        1        1        1        1        1
4        149      149      197      238      428      566
..       ...      ...      ...      ...      ...      ...
458        0        0        0        0        0        1
459        0        0        0        0        0        1
460        0        0        0        0        0        1
461        0        0        0        1        1        1
462        0        0        1        1        1        1

[463 rows x 59 columns]